@import '../../node_modules/cefc-ui-style/src/mixins/utils.less';
@import '../../@{theme}';

// @font-size-large:            .18rem;
// @header-height:              .44rem;
// @header-margin:              .15rem;
// @header-font-color:          #FFFFFF;
// @header-bg-color:            #3A3A3A;

@headerPrefixCls: cefc-header;

.@{headerPrefixCls} {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: darken(@fill-base, 75%);
  color: @color-text-base-inverse;
  

  &-title, &-left, &-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
  }

  &-title {
    flex: 3;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: @font-size-heading;
    justify-content: center;
    padding-top: @v-spacing-sm;
    padding-bottom: @v-spacing-sm;
    min-height: 44 * @hd;
  }

  &-left, &-right {
    margin-left: @h-spacing-md;
    margin-right: @h-spacing-md;
    font-size: @font-size-subhead;
    flex: 1;
  }

  &-left {
    justify-content: flex-start;
  }

  &-right {
    justify-content: flex-end;
  }
}




